<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ko Vic - KI-222</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<header>
    <h1>Welcome to KI-222</h1>
</header>

<section>
    <div class="profile">
        <img src="images/photo_2022-09-22_19-50-41.jpg" alt="Profile Picture" class="profile-pic">
        <p>Hi, I'm Ko Vic, a student with a passion to become a great IT specialist. Welcome to KI-222.</p>
    </div>
</section>

<footer>
    <p>&copy; 2024 Ko Vic</p>
</footer>

</body>
</html>
